/* Custom Styles */

/*  Layout  */

body {
	background-color: rgba(115, 77, 39, .85);
	background: #734D27 url(../img/bg.png);
	font: normal 145%/175% Georgia, serif;
}

.container {
	margin: 1% auto;
	padding: 2%;
	background-color: #115846;
	box-shadow: 2px 0px 2px 2px #734D27;
}

.home-snippet {
	background-color: #ffffff;
	padding: 2%;
}

/*  Header  */

.logo {
	margin-top: .25em;
}

@media (max-width: 768px) {
.logo-width {
	width: 100%;
} }

.form-control {
  color: #555555;
  background-color: #eeeeee;
  border: 1px solid #A7A9AB;
  border-radius: 6px;
}

/*  Navigation  */

.navbar-default {
	background: none;
	border: none;
}
  	@media (max-width: 768px) {
    .navbar-default {
      background-image:url('../img/wood-bg.png');
      background-repeat:no-repeat;
	  background-position:left top;
	  min-height: 7em; } }
	  
    @media (max-width: 768px) {
      .navbar-default .navbar-collapse, .navbar-default .navbar-form {
       	background-color: #734D27;
      } }

.navbar-default .navbar-toggle, .navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border: none;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background: none;
}

/* Font size for mav menu items */
.nav > li, .navbar>.container-fluid .navbar-brand {
	font-size: 136%;
}

.navbar>.container-fluid .navbar-brand {
	margin-left: 0;
}

a.navbar-brand, a.dropdown-toggle, ul.nav a {
	color: #EEDA7C;
	text-decoration: none;
	font-size: 146%;
}

.nav>li>a {
  display: block;
  padding: .75em 1.1em;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>.open>a:visited {
  color: #EEDA7C;
  font-size: 136%;
}

a.dropdown-toggle:focus, .navbar-default .navbar-nav .open .dropdown-menu>li>a {
	color: #EEDA7C;
}

.navbar-toggle {
	float: none;
}

.navbar-default .navbar-nav>li>a:hover, a.navbar-brand.visible-xs:hover {
	color: #EEC606;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
  color: #EEC606;
  background-color: rgba(115, 77, 39, 0.7);
}

.dropdown-menu {
	background-color: #734D27;
}

ul.dropdown-menu li a:hover {
	background-color: rgba(238, 218, 124, 0.7);
	color: #734D27;
}

/* Enable dropdown on hover on bigger screens. */
@media only screen and (min-width : 992px) {
.dropdown:hover .dropdown-menu {
    display: block;
 } }

/*  Typography  */

h1, h2, h3, h4, h5, h6 {
	font-family: proxima-nova, sans-serif;
	font-weight: bold;
	color: #115846;
}

/*  Links  */

a {
	color: #734D27;
	text-decoration: underline;
}

/*  Utilities  */

.bottom-space {
	margin-bottom: 2%;
	
}

.more-bottom-space {
	margin-bottom: 4%;
}

/*  Home */

.home-heature-weather-clearme {
  clear: both;	
  background-color: #ffffff;
  margin-left: 0; 
  margin-right: 0;
  overflow: hidden;
  min-height: 20em; /* FIX  */
  background-image:url('../img/home/weather-snow-sun-3.png');
  background-repeat:no-repeat;
  background-attachment:absolute;
  background-position:70% -280%;
}

.text-weather-feature {

}

/*  Footer  */

.social-icons {
	float: left;
	margin-right: .75em;
}

ul.footer-nav {
	list-style-type: none;
	padding-left: .25em;
	font-size: 136%;
}

ul.footer-nav li {
	display: inline;
	padding: 0 1.5em 0 0;
}

.footer-logos {
	float: right;
}